<p id="notice"><%= notice %></p>

<h1>Companyinvoices</h1>

<table>
  <thead>
    <tr>
      <th>Invoicename</th>
      <th>Companybill</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companyinvoices.each do |companyinvoice| %>
      <tr>
        <td><%= companyinvoice.invoicename %></td>
        <td><%= companyinvoice.companybill %></td>
        <td><%= link_to 'Show', companyinvoice %></td>
        <td><%= link_to 'Edit', edit_companyinvoice_path(companyinvoice) %></td>
        <td><%= link_to 'Destroy', companyinvoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Companyinvoice', new_companyinvoice_path %>
