<p id="notice"><%= notice %></p>

<p>
  <strong>Invoicename:</strong>
  <%= @companyinvoice.invoicename %>
</p>

<p>
  <strong>Companybill:</strong>
  <%= @companyinvoice.companybill %>
</p>

<%= link_to 'Edit', edit_companyinvoice_path(@companyinvoice) %> |
<%= link_to 'Back', companyinvoices_path %>
