<p id="notice"><%= notice %></p>

<h1>Sidemodules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sidemodules.each do |sidemodule| %>
      <tr>
        <td><%= sidemodule.name %></td>
        <td><%= sidemodule.company %></td>
        <td><%= link_to 'Show', sidemodule %></td>
        <td><%= link_to 'Edit', edit_sidemodule_path(sidemodule) %></td>
        <td><%= link_to 'Destroy', sidemodule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sidemodule', new_sidemodule_path %>
