<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sidemodule.name %>
</p>

<p>
  <strong>Company it belongs to:</strong>
  <%= @sidemodule.company.name %>
</p>

<%= link_to 'Edit', edit_sidemodule_path(@sidemodule) %> |
<%= link_to 'Back', sidemodules_path %>
